---
import Layout from "../layouts/Layout.astro";
---

<Layout typeFooter="amarillo">
    <slot slot="head">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <meta
          name="description"
          content="Te encuentras en un espacio que respeta y protege los derechos de sus usuarios, garantizando total transparencia y precisión en toda la información que necesitas."
        />
    
        <!-- Open Graph Meta Tags -->
        <meta
          property="og:title"
          content="Aviso legal - Codigosa"
        />
        <meta
          property="og:description"
          content="Te encuentras en un espacio que respeta y protege los derechos de sus usuarios, garantizando total transparencia y precisión en toda la información que necesitas."
        />
    
        <meta property="og:url" content="https://www.codigosa.es/avisolegal" />
        <meta property="og:type" content="website" />
    
        <title>Aviso Legal | Codigosa</title>

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Aviso legal - Codigosa" />
        <meta name="twitter:description" content="Te encuentras en un espacio que respeta y protege los derechos de sus usuarios, garantizando total transparencia y precisión en toda la información que necesitas." />
    
        <!-- Datos estructurados para mejorar el SEO -->
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Codigosa",
            "url": "https://www.codigosa.com",
            "contactPoint": {
              "@type": "ContactPoint",
              "telephone": "+34 649 307 578",
              "contactType": "Customer Service",
              "areaServed": "ES",
              "availableLanguage": "Spanish"
            },
            "sameAs": [
              "https://www.facebook.com/codigosa",
              "https://www.twitter.com/codigosa"
            ]
          }
        </script>
      </slot>

      <main slot="main">
        
        <section class="doc-legal">
          <div>
            <h1>Aviso Legal</h1>
            <p>Bienvenido a este sitio web, un espacio que se rige por el compromiso con los derechos de sus usuarios. Nos esforzamos en ofrecer la máxima transparencia y rigor en toda la información que necesitas conocer sobre esta plataforma.</p>
            <p>Este sitio cumple plenamente con la normativa vigente en materia de protección de datos, incluyendo:</p>
            <ul>
              <li>La Ley Orgánica 3/2018, de 5 de diciembre, sobre Protección de Datos Personales y garantía de los derechos digitales (LOPDGDD).</li>
              <li>El Reglamento General de Protección de Datos (RGPD) - Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo del 27 de abril de 2016.</li>
              <li>La Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico (LSSICE o LSSI).</li>
            </ul>
            <p>Los servicios y productos ofrecidos en esta web están dirigidos exclusivamente a personas jurídicas y a aquellas personas físicas mayores de 16 años.</p>
            <h2>Información de los responsables del sitio web</h2>
            <ul>
              <li><strong>Nombre o Razón Social:</strong> Codigosa</li>
              <li><strong>Correo electrónico de contacto:</strong> codigosabusiness@gmail.com</li>
            </ul>
            <p>Si te preocupa el tratamiento de tus datos personales, puedes consultar nuestra <a href="/privacidad">Política de Privacidad</a>.</p>
            <p><strong>Obligaciones y responsabilidades de los usuarios</strong></p>
            <p>El acceso y navegación por este sitio web no implica, en ningún caso, el inicio de una relación comercial con Estela Buendía Iglesias y María Dolores González Bermejo, en adelante <strong>Codigosa / codigosa.com</strong>. Al utilizar esta web, el usuario acepta hacer un uso adecuado de los servicios y contenidos, cumpliendo con la normativa vigente, la buena fe y el orden público.</p>
            <p>Está estrictamente prohibido:</p>
            <ul>
              <li>Reproducir, distribuir o modificar, total o parcialmente, cualquier contenido sin la debida autorización.</li>
              <li>Vulnerar los derechos del titular del sitio o de terceros.</li>
              <li>Utilizar los contenidos de la web con fines comerciales o publicitarios sin consentimiento.</li>
            </ul>
            <p>El usuario se compromete a evitar cualquier acción que pueda afectar la imagen, intereses o derechos de <strong>Codigosa</strong> o terceros, así como cualquier actividad que pueda sobrecargar, dañar o inutilizar el sitio.</p>
            <p>No obstante, se informa al usuario de que ningún sistema de seguridad en internet es completamente fiable, por lo que <strong>Codigosa</strong> no puede garantizar la total ausencia de malware u otros elementos que puedan afectar el sistema informático del usuario, aunque se adoptan todas las medidas necesarias para prevenir su presencia.</p>
            <h2>Publicidad, enlaces de afiliados y contenido patrocinado</h2>
            <p>Este sitio puede contener enlaces de afiliados, publicidad o contenido patrocinado. Es importante destacar que:</p>
            <ul>
              <li>Los clientes que acceden a estos enlaces no se convierten en clientes directos de <strong>Codigosa</strong>.</li>
              <li>No gestionamos pedidos ni incidencias relacionadas con compras realizadas en plataformas de terceros, como Amazon.</li>
              <li>La información mostrada en estos anuncios o enlaces es proporcionada por los propios anunciantes, por lo que <strong>Codigosa</strong> no se responsabiliza de posibles inexactitudes o errores.</li>
            </ul>
            <p>Cualquier relación contractual o de otra índole que el usuario establezca con anunciantes o terceros a través de este portal es exclusiva entre las partes involucradas. <strong>Codigosa</strong> solo actúa como un canal publicitario y no se responsabiliza por eventuales daños o perjuicios derivados de dichas relaciones.</p>
            <h2>Medidas de seguridad</h2>
            <p>Los datos personales proporcionados por los usuarios pueden almacenarse en bases de datos gestionadas exclusivamente por <strong>Codigosa</strong>, quien implementa medidas de seguridad técnicas y organizativas para garantizar la integridad y confidencialidad de la información.</p>
            <p>La comunicación entre usuarios y <strong>codigosa.com</strong> se realiza a través de un canal seguro con cifrado mediante protocolos HTTPS, ofreciendo así un nivel óptimo de protección para la información transmitida.</p>
            <h2>Resolución de conflictos</h2>
            <p>Si surge algún conflicto, los usuarios pueden recurrir a la plataforma de resolución de litigios proporcionada por la Comisión Europea en el siguiente enlace: <a target="_blank" href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.chooseLanguage">Plataforma de resolución de conflictos</a>.</p>
            <p><strong>Enlaces externos</strong></p>
            <p>Este sitio puede incluir enlaces a páginas de terceros, como Amazon, cuyo único propósito es proporcionar acceso a más información o servicios adicionales. <strong>Codigosa</strong> no se hace responsable de los resultados que el usuario pueda obtener al acceder a estos enlaces.</p>
            <p>Algunas secciones del sitio pueden incluir promociones o programas de afiliados que recopilan datos de navegación para generar perfiles de usuario. No obstante, esta información es completamente anónima y no permite la identificación del usuario.</p>
            <p>Cada uno de estos sitios de terceros cuenta con sus propias políticas de privacidad, por lo que se recomienda revisarlas antes de proporcionar cualquier dato personal.</p>
            <p><strong>Exclusión de garantías y responsabilidades</strong></p>
            <p><strong>Codigosa</strong> no garantiza ni se responsabiliza de:</p>
            <ul>
              <li>La disponibilidad y correcto funcionamiento del sitio web.</li>
              <li>La presencia de virus u otros elementos dañinos.</li>
              <li>Un uso indebido del portal por parte de los usuarios.</li>
              <li>La calidad, licitud o fiabilidad de los servicios ofrecidos por terceros a través de este sitio.</li>
            </ul>
            <p><strong>Legislación aplicable y jurisdicción</strong></p>
            <p>Cualquier relación entre <strong>Codigosa</strong> y los usuarios de esta web se regirá por la legislación española y estará sometida a los tribunales de Bilbao.</p>
            <p>Si tienes dudas sobre este Aviso Legal o cualquier otro aspecto de la web, puedes ponerte en contacto a través del correo <strong>codigosabusiness@gmail.com</strong>.</p>
            <p>Última actualización: 4 de enero de 2021.</p>
          </div>
        </section>

      </main>
</Layout>