---
import Layout from "../layouts/Layout.astro";
---

<Layout typeFooter="amarillo">
  <slot slot="head">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="Descubre los servicios de Codigosa en Bilbao: desarrollo web, diseño de logos y mantenimiento de sitios web. Soluciones a medida para tu negocio."
    />
    <meta
      name="keywords"
      content="servicios diseño web Bilbao, diseño de logos Bilbao, mantenimiento web Bilbao, Codigosa, soluciones web personalizadas, agencia diseño web Bilbao"
    />

    <!-- Open Graph Meta Tags -->
    <meta
      property="og:title"
      content="Servicios de Codigosa - Diseño y Desarrollo Web en Bilbao"
    />
    <meta
      property="og:description"
      content="Codigosa ofrece servicios de desarrollo web, diseño de logos y mantenimiento de sitios web en Bilbao. Soluciones a medida para tu negocio."
    />
 
    <meta property="og:url" content="https://www.codigosa.es/servicios" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Servicios de Codigosa - Diseño y Desarrollo Web en Bilbao"
    />
    <meta
      name="twitter:description"
      content="Codigosa ofrece servicios de desarrollo web, diseño de logos y mantenimiento de sitios web en Bilbao. Soluciones a medida para tu negocio."
    />
   

    <title>Servicios de Branding y Desarrollo Web en Bilbao | Codigosa</title>

    <!-- Datos estructurados para mejorar el SEO -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Codigosa",
        "url": "https://www.codigosa.es",
        "sameAs": [
          "https://www.facebook.com/codigosa",
          "https://www.twitter.com/codigosa"
        ]
      }
    </script>
  </slot>
  <main slot="main">
    <!-- PORTADA -->

    <section class="portada-servicios" id="portada-servicios">
      <div class="light-overlay"></div>
      <div class="content-portada-servicios">
        <h1 class="h1-servicios">
          <!-- <span>DESARROLLAMOS SOLUCIONES</span>
          <span class="bernadette amarillo">según tus necesidades</span> -->
          <span>SERVICIOS PROFESIONALES</span>
          <span class="bernadette amarillo">con atención cercana en Bilbao</span>
        </h1>
      </div>
    </section>

    <!-- SERVICIOS -->

    <!-- Servicio 1 -->

    <div class="circle-servicios"></div>

    <section class="serviciosInpar-servicios" id="servicio1">
      <div class="pelotaNegra-servicios pelota1-servicios animar"></div>

      <div class="pelotaNegra-servicios pelota2-servicios animar"></div>

      <div class="pelotaNegra-servicios pelota3-servicios animar"></div>

      <div class="container-servicios animar">
        <h2 class="h2-servicios">
          <span>Desarrollo de</span>
          <span class="bernadette">páginas web</span>
        </h2>

        <p>
          Ofrecemos un servicio de <span class="bold">desarrollo web</span> personalizado
          para crear <span class="bold">sitios funcionales</span> y adaptados a las
          necesidades de tu negocio. Nos encargamos de construir páginas rápidas,
          seguras y accesibles desde <span class="bold"
            >cualquier dispositivo</span
          >, asegurando una <span class="bold">experiencia óptima</span> para tus
          visitantes. Nuestro objetivo es que tu sitio no solo se vea bien, sino
          que también sea una herramienta eficaz para atraer clientes y generar oportunidades.
          Ya sea una <span class="bold"
            >página informativa, tienda en línea</span
          > o una <span class="bold">plataforma más compleja</span>, te
          proporcionamos soluciones prácticas y efectivas para impulsar tu <span
            class="bold">presencia digital</span
          >.
        </p>
      </div>

      <div class="carousel-servicios">
        <div class="carousel-images-servicios car-img1-servicios">
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaInicio.webp"
              alt="Inicio de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpSobreNosotros.webp"
              alt="Sobre Nosotros de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaContacto.webp"
              alt="Contacto de Codigosa"
            /></a
          >

          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaServicios.webp"
              alt="Servicios de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpInicio.webp"
              alt="Inicio de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaIntegrantes.webp"
              alt="Integrantes de Codigosa"
            /></a
          >

          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaContacto.webp"
              alt="Contacto de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpEscapeRoomFisico.webp"
              alt="Escape Room Físico de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaPrecios.webp"
              alt="Precios de Codigosa"
            /></a
          >

          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaInicio.webp"
              alt="Inicio de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpSobreNosotros.webp"
              alt="Sobre Nosotros de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaContacto.webp"
              alt="Contacto de Codigosa"
            /></a
          >
        </div>
      </div>
    </section>

    <div class="circle2-servicios"></div>

    <!-- Servicio 2 -->

    <section class="serviciosPar-servicios" id="servicio2">
      <div class="pelotaAmarilla-servicios pelota1-servicios animar"></div>

      <div class="pelotaAmarilla-servicios pelota2-servicios animar"></div>

      <div class="pelotaAmarilla-servicios pelota3-servicios animar"></div>

      <div class="container-servicios2 animar">
        <h2 class="h2-servicios">
          <span>Creación</span>
          <span>
            <span>de</span>
            <span class="bernadette amarillo">diseños únicos</span>
          </span>
        </h2>

        <p>
          Te ayudamos a destacar en internet con un <span class="bold"
            >diseño web atractivo</span
          > y <span class="bold">profesional</span> que refleje la <span
            class="bold">esencia de tu marca</span
          >. Creamos páginas visualmente impactantes y fáciles de usar, con una
          estructura clara que guía a tus visitantes hacia lo que necesitan.
          Trabajamos en la elección de <span class="bold"
            >colores, tipografías e imágenes</span
          > que generen <span class="bold">confianza</span> y transmitan tu mensaje
          de forma efectiva. Con nuestro servicio de diseño web, garantizamos que
          tu sitio no solo luzca bien, sino que también ofrezca una <span
            class="bold">experiencia agradable e intuitiva</span
          >.
        </p>
      </div>

      <div class="carousel-servicios">
        <div class="carousel-images-servicios car-img2-servicios">
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaInicio.webp"
              alt="Inicio de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpSobreNosotros.webp"
              alt="Sobre Nosotros de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaContacto.webp"
              alt="Contacto de Codigosa"
            /></a
          >

          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaServicios.webp"
              alt="Servicios de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpInicio.webp"
              alt="Inicio de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaIntegrantes.webp"
              alt="Integrantes de Codigosa"
            /></a
          >

          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaContacto.webp"
              alt="Contacto de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpEscapeRoomFisico.webp"
              alt="Escape Room Físico de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaPrecios.webp"
              alt="Precios de Codigosa"
            /></a
          >

          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaInicio.webp"
              alt="Inicio de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpSobreNosotros.webp"
              alt="Sobre Nosotros de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaContacto.webp"
              alt="Contacto de Codigosa"
            /></a
          >
        </div>
      </div>
    </section>
    <!-- Servicio 3 -->

    <div class="circle-servicios"></div>

    <section class="serviciosInpar-servicios" id="servicio3">
      <div class="pelotaNegra-servicios pelota1-servicios animar"></div>

      <div class="pelotaNegra-servicios pelota2-servicios animar"></div>

      <div class="pelotaNegra-servicios pelota3-servicios animar"></div>

      <div class="container-servicios animar">
        <h2 class="h2-servicios">
          <span>Posicionamiento de</span>
          <span class="bernadette">contenidos web </span>
        </h2>

        <p>
          Nuestro servicio de <span class="bold">posicionamiento web (SEO)</span
          > te ayuda a <span class="bold">mejorar la visibilidad</span> de tu página
          en los <span class="bold">principales buscadores</span> como Google. Implementamos
          estrategias efectivas para que tu negocio aparezca en los
          <span class="bold">primeros resultados</span> cuando los clientes potenciales
          busquen productos o servicios relacionados. Optimizamos tu sitio con contenido
          relevante, mejoras técnicas y estrategias de <span class="bold"
            >palabras clave</span
          > que aumentan tu tráfico y generan más oportunidades de negocio. Con nuestro
          apoyo, lograrás <span class="bold"
            >destacar frente a la competencia</span
          > y atraer más visitantes de manera orgánica.
        </p>
      </div>

      <div class="carousel-servicios">
        <div class="carousel-images-servicios car-img3-servicios">
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaInicio.webp"
              alt="Inicio de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpSobreNosotros.webp"
              alt="Sobre Nosotros de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaContacto.webp"
              alt="Contacto de Codigosa"
            /></a
          >

          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaServicios.webp"
              alt="Servicios de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpInicio.webp"
              alt="Inicio de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaIntegrantes.webp"
              alt="Integrantes de Codigosa"
            /></a
          >

          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaContacto.webp"
              alt="Contacto de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpEscapeRoomFisico.webp"
              alt="Escape Room Físico de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaPrecios.webp"
              alt="Precios de Codigosa"
            /></a
          >

          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaInicio.webp"
              alt="Inicio de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpSobreNosotros.webp"
              alt="Sobre Nosotros de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaContacto.webp"
              alt="Contacto de Codigosa"
            /></a
          >
        </div>
      </div>
    </section>

    <div class="circle2-servicios"></div>

    <!-- Servicio 4 -->

    <section class="serviciosPar-servicios" id="servicio4">
      <div class="pelotaAmarilla-servicios pelota1-servicios animar"></div>

      <div class="pelotaAmarilla-servicios pelota2-servicios animar"></div>

      <div class="pelotaAmarilla-servicios pelota3-servicios animar"></div>

      <div class="container-servicios2 animar">
        <h2 class="h2-servicios">
          <span>Mantenimiento</span>
          <span>
            <span>de</span>
            <span class="bernadette amarillo">páginas web</span>
          </span>
        </h2>

        <p>
          Ofrecemos un servicio completo de <span class="bold"
            >mantenimiento web</span
          > para asegurarnos de que tu página funcione correctamente en todo momento.
          Nos encargamos de <span class="bold"
            >actualizar contenido, corregir errores, optimizar la velocidad</span
          > y garantizar la <span class="bold">seguridad</span> de tu sitio frente
          a posibles amenazas. Además, realizamos
          <span class="bold">copias de seguridad periódicas</span> y monitoreo constante
          para prevenir problemas antes de que afecten a tu negocio. Con nuestro
          mantenimiento, tu sitio web estará siempre actualizado, seguro y en perfecto
          estado para brindar la mejor experiencia a tus visitantes.
        </p>
      </div>

      <div class="carousel-servicios">
        <div class="carousel-images-servicios car-img4-servicios">
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaInicio.webp"
              alt="Inicio de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpSobreNosotros.webp"
              alt="Sobre Nosotros de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaContacto.webp"
              alt="Contacto de Codigosa"
            /></a
          >

          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaServicios.webp"
              alt="Servicios de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpInicio.webp"
              alt="Inicio de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaIntegrantes.webp"
              alt="Integrantes de Codigosa"
            /></a
          >

          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaContacto.webp"
              alt="Contacto de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpEscapeRoomFisico.webp"
              alt="Escape Room Físico de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaPrecios.webp"
              alt="Precios de Codigosa"
            /></a
          >

          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Adaxa/AdaxaInicio.webp"
              alt="Inicio de Adaxa"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/BilbaoSkp/BilbaoSkpSobreNosotros.webp"
              alt="Sobre Nosotros de BilbaoSkp"
            /></a
          >
          <a class="images-servicios"
            ><img
              src="/img/ProyectosPrevios/Codigosa/CodigosaContacto.webp"
              alt="Contacto de Codigosa"
            /></a
          >
        </div>
      </div>
    </section>
  </main></Layout
>
